@import '~bootstrap/scss/bootstrap.scss';
@import '@fortawesome/fontawesome-free';

.exercises-index {
  max-width: 720px;
  margin: 0 auto;
}

.iterations-new {
  max-width: 75vw;
  margin: 0 auto;
}

.CodeMirror {
  height: 50vh !important;
  width: 100%;
  font-size: 14px;
  margin: 0;
}
