@import '~bootstrap/scss/bootstrap.scss';
@import '@fortawesome/fontawesome-free';

.exercises-index {
  max-width: 720px;
  margin: 0 auto;
}

.iterations-new {
  margin: 0 auto;
}

.CodeMirror {
  height: 66vh !important;
  width: 100%;
  font-size: 14px;
  margin: 0;
}

.exercise-description {
  padding: 1em;
  border-radius: 0.25em;
}
